* {
    font-family: Arial;
    font-size: 20px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
}
body {
    background-color: #3a1b00;
    background-image: url("../assets/ui/background.svg");
    background-size: 100px 100px;
    background-repeat: repeat;
}
#info {
    top: 10px;
    left: 20px;
    position: fixed;
}
#github {
    top: 80px;
    left: 20px;
    position: fixed;
}
#discord {
    top: 150px;
    left: 20px;
    position: fixed;
}
#title {
    width: 560px;
    height: 200px;
    top: 50px;
    background-image: url("../assets/ui/title.svg");
    background-size: cover;
    position: fixed;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
#settings {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
#username {
    width: 250px;
    height: 60px;
    border: 2px solid black;
    box-sizing: border-box;
    text-align: center;
    background-color: #c88041;
}
#username::placeholder {
    text-align: center;
    color: black;
}
#game {
    display: none;
    z-index: 1;
}
.button {
    width: 110px;
    height: 60px;
    border: 2px solid black;
    box-sizing: border-box;
    background-color: #c88041;
}
