* {
    font-family: Arial;
    font-size: 20px;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: black;
}
body {
    background-color: lightgray;
}
#info {
    top: 10px;
    left: 20px;
    position: fixed;
}
#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
#settings {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
#username {
    width: 250px;
    height: 60px;
    border: 2px solid black;
    box-sizing: border-box;
}
#game {
    display: none;
    z-index: 1;
}
.button {
    width: 110px;
    height: 60px;
    border: 2px solid black;
    box-sizing: border-box;
}
